<div class="col-md-12">
  <div class="container">
    <div class="row">
      <div class="col-md-12 mt-8">
        <div class="card">
          <div class="card-header">
            <div class="row">
              <div class="col-md-2">
                <a
                  [routerLink]="['/enseignants']"
                  class="btn btn-light float-light"
                  ><i class="bi bi-arrow-left"></i
                ></a>
              </div>
              <div class="col-md-10">
                <h4>Ajout de Personnel</h4>
              </div>
            </div>
          </div>
          <div class="card-body">
            <form [formGroup]="form" (ngSubmit)="onSubmit()">
              <div class="row">
                <div class="col-md-8">
                  <div class="form-group"></div>
                  <div class="form-group">
                    <label>Prenom</label>
                    <input
                      type="text"
                      formControlName="prenom"
                      class="form-control"

                    />
                    <p
                      style="color: brown"
                      *ngIf="!form.controls['prenom'].valid"
                    >
                      (Champ obligatoire * )
                    </p>
                    <label>Nom</label>
                    <input
                      type="text"
                      formControlName="nom"
                      class="form-control"

                    />
                    <p style="color: brown" *ngIf="!form.controls['nom'].valid">
                      (Champ obligatoire *)
                    </p>
                    <label>Telephone</label>
                    <input
                      type="tel"
                      formControlName="telephone"
                      class="form-control"

                    />
                    <p
                      style="color: brown"
                      *ngIf="!form.controls['telephone'].valid"
                    >
                      (Le numéro  de telephone doit contenir 8 chiffres )
                    </p>
                    <label>Genre</label>
                    <select
                      [(ngModel)]="selectedGenre"
                      formControlName="genre"
                      class="form-control"
                      (change)="onSelectionGenre()"
                    >
                      <option
                        *ngFor="let option of optionsG"
                        [value]="option.value"
                      >
                        {{ option.label }}
                      </option>
                    </select>
                    <p
                      style="color: brown"
                      *ngIf="!form.controls['genre'].valid"
                    >
                      (Champ obligatoire * )
                    </p>
                    <label>Type Personnels</label>
                    <select
                      [(ngModel)]="selectedType"
                      formControlName="typeEnseignant"
                      class="form-control"
                      (change)="onSelectionType()"
                    >
                      <option
                        *ngFor="let option of optionsTypes"
                        [value]="option.value"
                      >
                        {{ option.label }}
                      </option>
                    </select>
                    <p
                      style="color: brown"
                      *ngIf="!form.controls['typeEnseignant'].valid"
                    >
                      (Champ obligatoire * )
                    </p>

                    <label *ngIf="isVacataire">Taux Horaire</label>
                    <input
                      [type]="isVisibleVac"
                      formControlName="tauxHoraire"
                      class="form-control"/>
                    <p
                      style="color: brown"
                      *ngIf="!form.controls['tauxHoraire'].valid"
                    >
                      (minimum 0 )
                    </p>
                    <label *ngIf="isPer">Taux Forfaitaire</label>
                    <input
                      [type]="isVisiblePer"
                      formControlName="tauxForfaitaire"
                      class="form-control"

                    />
                    <p
                      style="color: brown"
                      *ngIf="!form.controls['tauxForfaitaire'].valid"
                    >
                      (minimum 0 )
                    </p>
                  </div>
                  <br />
                  <div class="form-group">
                    <button
                      [disabled]="!form.valid"
                      type="submit"
                      class="btn btn-secondary px-4"
                    >
                      Ajouter
                    </button>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
