<div class="container" >
    <div class="row ">
        <div class="col-xl-6 col-lg-6">
            <div class="card" style="background-color: rgb(217, 224, 231);">
                <div class="card-statistic-3 p-4">
                    <div class="card-icon card-icon-large"><i class="fas fa-shopping-cart"></i></div>

                    <div class="row align-items-center  d-flex">
                        <div class="col-4">
                            <h2 class="d-flex align-items-center mb-0">
                                <img src="../assets/images/logo/logo.jpg" alt="hugenerd" width="130" height="130" class="img-fluid" />
                            </h2>
                        </div>
                        <div class="col-8 text-left">
                            <span>Institut Supérieur de Formation  et de <br> Gestion d’Entreprise ~ SIKASSO ~ </span> <br/>
                            <span>Sikasso Tienfibougou , <br> en face de BANK OF AFRICA et la SOMAGEP</span> <br>

                            <span>~ La référence de l'excellence du continent ~</span> <br>

                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="col-xl-6 col-lg-6">
            <div class="card" style="background-color: rgb(217, 224, 231);">
                <div class="card-statistic-3 p-4">
                    <div class="card-icon card-icon-large"><i class="fas fa-users"></i></div>

                    <div class="row align-items-center mb-0 d-flex">
                        <div class="col-xl-12 col-lg-12">
                            <span class="d-flex align-items-left mb-0">
                              Crée à la date du 8 août 2006 et ouvert le 03 octobre 2006 à Bamako et en 2019 à Sikasso, l'Institut Supérieur de Formation et de Gestion d’Entreprise est un établissement privé d’enseignement supérieur agrée par l’Etat Malien.
                              Il est dirigé par un directeur général et assisté par une secrétaire, un directeur des études et stages et des professeurs

                            </span>
                        </div>

                    </div>

                </div>
            </div>
        </div>

      <div class="col-xl-6 col-lg-6">
        <div class="card" style="background-color: rgb(217, 224, 231);">
            <div class="card-statistic-3 p-4">
                <div class="card-icon card-icon-large"><i class="fas fa-users"></i></div>

                <div class="row align-items-center mb-0 d-flex">
                  <div class="col-xl-12 col-lg-12">
                      <span class="d-flex align-items-left mb-0">
                          ~ Hôtellerie et Tourisme (HT) ; <br>
                          ~ Technique de Commerce International (TCI) <br>
                          ~ Gestion de la Logistique et du Transport (GLT) <br>
                          ~ Gestion d’Entreprises et des Administrations (GEA) <br>
                          ~ Communication – Journalisme (CJ) <br>
                          </span>
                      <!-- Lien de téléchargement -->
                      <a href="../assets/images/logo/catalogue.jpg" download class="btn btn-secondary mt-3">
                          Télécharger le Catalogue des Formations
                      </a>
                  </div>
                </div>



            </div>
        </div>
      </div>
      <div class="col-xl-6 col-lg-6">
        <div class="card" style="background-color: rgb(217, 224, 231);">
            <div class="card-statistic-3 p-4">
                <div class="card-icon card-icon-large"><i class="fas fa-users"></i></div>

                <div class="row align-items-center mb-0 d-flex">
                  <div class="col-xl-12 col-lg-12">
                      <span class="d-flex align-items-left mb-0">
                          ~ Secrétariat : Assistant de Gestion (AG) <br>
                          ~ Comptabilité Finances (FC) <br>
                          ~ Banque & Assurances (BA) <br>
                          ~ Informatique de gestion (IG) <br>
                          ~ Gestion des Ressources Humaines (GRH) <br>
                      </span>
                      <!-- Lien de téléchargement -->
                      <a href="../assets/images/logo/catalogue.jpg" download class="btn btn-secondary mt-3">
                          Télécharger le Catalogue des Formations
                      </a>
                  </div>
                </div>



            </div>
        </div>
      </div>
        <div class="col-xl-6 col-lg-6">
            <div class="card" *ngIf="eleves" style="background-color: rgb(217, 224, 231);">
                <div class="card-statistic-3 p-4">
                    <div class="card-icon card-icon-large"><i class="fas fa-ticket-alt"></i></div>
                    <div class="mb-4">
                        <h5 class="card-title mb-0">Effectifs Etudiants</h5>
                    </div>
                    <div class="row align-items-center mb-2 d-flex">
                        <div class="col-6">
                            <h2 class="d-flex align-items-center mb-0">
                              {{eleves.total}}
                            </h2>
                        </div>
                        <div class="col-6 text-left">
                            <span>Garçons : {{eleves.homme}} <br/>Filles : {{eleves.femme}} </span>
                        </div>
                    </div>
                    <div class=" " data-height="8" style="height: 8px;">
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-6 col-lg-6">
            <div class="card" *ngIf="personnels" style="background-color: rgb(217, 224, 231);">
                <div class="card-statistic-3 p-4">
                    <div class="card-icon card-icon-large"><i class="fas fa-dollar-sign"></i></div>
                    <div class="mb-4">
                        <h5 class="card-title mb-0">Effectifs Personnels</h5>
                    </div>
                    <div class="row align-items-center mb-2 d-flex">
                        <div class="col-6">
                            <h2 class="d-flex align-items-center mb-0">
                              {{personnels.total}}
                            </h2>
                        </div>
                        <div class="col-6 text-center">
                            <span>Hommes: {{personnels.homme}} <br/> Femmes :{{personnels.femme}} </span>
                        </div>
                    </div>
                    <div class="" data-height="8" style="height: 8px;">
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-6 col-lg-6">
            <div class="card" *ngIf="retards" style="background-color: rgb(217, 224, 231);">
                <div class="card-statistic-3 p-4">
                    <div class="card-icon card-icon-large"><i class="fas fa-shopping-cart"></i></div>
                    <div class="mb-4">
                        <h5 class="card-title mb-0">Retards de Paiements</h5>
                    </div>
                    <div class="row align-items-center mb-2 d-flex">
                        <div class="col-12">
                            <span class="d-flex align-items-left mb-0">
                                Etudiants :  {{retards.mensualiteEleve}}
                            </span>
                            <span class="d-flex align-items-left mb-0">
                                Personnels :  {{retards.remunerationPersonnel}}
                            </span>
                        </div>

                    </div>

                </div>
            </div>
        </div>
        <div class="col-xl-6 col-lg-6">
            <div class="card" *ngIf="caisses" style="background-color: rgb(217, 224, 231);">
                <div class="card-statistic-3 p-4">
                    <div class="card-icon card-icon-large"><i class="fas fa-users"></i></div>
                    <div class="mb-4">
                        <h5 class="card-title mb-0">Caisse</h5>
                    </div>
                    <div class="row align-items-center mb-2 d-flex">
                        <div class="col-6">
                            <h2 class="d-flex align-items-left mb-0">
                              {{caisses.solde}}
                            </h2>
                        </div>
                        <div class="col-6 text-left">
                            <span>Entrée: {{caisses.entree}} <br/> Sortie : {{caisses.sortie}}</span>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

