<div class="container">
  <div class="row ">
      <div class="col-md-12">
          <div class="card">
              <div class="container  " style="background-color: rgb(217, 224, 231);">
                  <div class="row ">

                      <div class="col-md-8">
                          <div class="row">
                              <div class="col-md-3">
                                  <img src="../assets/images/logo/logo.jpg" width="170" height="55" />
                              </div>
                              <div class="col-md-9">
                                  <small>Institut Supérieur de Formation  et de <br> Gestion d’Entreprise ~ SIKASSO ~
                                     </small>

                              </div>
                          </div>
                      </div>


                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
