<div class="col-md-12">
  <div class="container">
      <div class="row">
          <div class="col-md-12 mt-8">
              <div class="card">
                  <div class="card-header">
                      <div class="row">
                          <div class="col-md-2">
                              <a [routerLink]="['/classes']" class="btn btn-light float-light"><i class="bi bi-arrow-left"></i></a>
                          </div>
                          <div class="col-md-10">
                              <h4>
                                  Ajout de Classe
                              </h4>
                          </div>
                      </div>

                  </div>
                     <div class="card-body">
                      <form [formGroup]="form" (ngSubmit)="onSubmit()">
                         <div class="row">
                             <div class="col-md-8">
                              <div class="form-group">

                              </div>
                                 <div class="form-group">
                                  <label>Cycle</label>
                                  <select
                                    class="form-control"
                                    (change)="getSeries()"
                                    [(ngModel)]="selectedCycle"
                                    formControlName="cycle"
                                  >
                                    <option *ngFor="let c of cycles" [value]="c.id">
                                      {{ c.libelle }}
                                    </option>
                                  </select>
                                  <p
                                    style="color: brown"
                                    *ngIf="!form.controls['cycle'].valid"
                                  >
                                    (Champ obligatoire * )
                                  </p>
                                  <label>Serie</label>
                                  <select
                                    class="form-control"
                                    (change)="getNiveaux()"
                                    [(ngModel)]="selectedSerie"
                                    formControlName="serie"
                                  >
                                    <option *ngFor="let c of series" [value]="c.id">
                                      {{ c.libelle }}
                                    </option>
                                  </select>
                                  <p
                                    style="color: brown"
                                    *ngIf="!form.controls['serie'].valid"
                                  >
                                    (Champ obligatoire * )
                                  </p>
                                  <label>Niveau</label>
                                  <select
                                    class="form-control"
                                    (change)="getNiveauCur()"
                                    [(ngModel)]="selectedNiveau"
                                    formControlName="niveau"
                                  >
                                    <option *ngFor="let c of niveaux" [value]="c.id">
                                      {{ c.libelle }}
                                    </option>
                                  </select>
                                  <p style="color: brown;" *ngIf="!form.controls['niveau'].valid"> (Champ obligatoire * ) </p>

                                 </div>
                                 <br>
                                 <div class="form-group">
                                  <button  [disabled]="!form.valid" type="submit" class="btn btn-secondary px-4">Ajouter</button>
                              </div>
                             </div>
                         </div>
                      </form>
                     </div>
              </div>
          </div>
      </div>
  </div>
