<div class="col-md-12">
  <div class="container">
      <div class="row">
          <div class="col-md-12 mt-8">
              <div class="card">
                  <div class="card-header">
                      <div class="row">
                          <div class="col-md-2">
                              <a [routerLink]="['/classes']" class="btn btn-light float-light"><i class="bi bi-arrow-left"></i></a>
                          </div>
                          <div class="col-md-10">
                              <h4>
                                  Ajout de Classe
                              </h4>
                          </div>
                      </div>

                  </div>
                     <div class="card-body">
                      <form [formGroup]="form" (ngSubmit)="onSubmit()">
                         <div class="row">
                             <div class="col-md-8">
                              <div class="form-group">

                              </div>
                                 <div class="form-group">
                                  <label>Cycle</label>
                                  <select formControlName="cycle" class="form-control" required>
                                    <option value="" disabled>Sélectionner un cycle</option>
                                    <option *ngFor="let c of cycles" [value]="c">{{ c }}</option>
                                  </select>
                                     <p style="color: brown;" *ngIf="!form.controls['cycle'].valid"> (Champ obligatoire * ) </p>
                                  <label>Serie</label>
                                  <select formControlName="serie" class="form-control"
                                  [(ngModel)]="selectedSerie" (change)="getSerieCur()"  required>
                                    <option value="" disabled>Sélectionner une serie</option>
                                    <option *ngFor="let c of series" [value]="c.id">{{ c.libelle }}</option>
                                  </select>
                                  <p style="color: brown;" *ngIf="!form.controls['niveau'].valid"> (Champ obligatoire * ) </p>

                                  <label>Niveau</label>
                                  <select formControlName="niveau" class="form-control" required>
                                    <option value="" disabled>Sélectionner un niveau</option>
                                    <option *ngFor="let c of niveaux" [value]="c">{{ c }}</option>
                                  </select>
                                  <p style="color: brown;" *ngIf="!form.controls['niveau'].valid"> (Champ obligatoire * ) </p>

                                 </div>
                                 <br>
                                 <div class="form-group">
                                  <button  [disabled]="!form.valid" type="submit" class="btn btn-secondary px-4">Ajouter</button>
                              </div>
                             </div>
                         </div>
                      </form>
                     </div>
              </div>
          </div>
      </div>
  </div>
