<div class="container-fluid">
    <div class="row main-content bg-light text-center justify-content-center">
      <div class="col-md-4 col-12 text-center company__info mb-3">
        <span class="company__logo">
          <h2>
            <img src="../assets/images/logo/logo.jpg" alt="hugenerd" width="220" height="220" class="img-fluid rounded-circle" />
          </h2>
        </span>
        <h6 class="company_title">Travail - Discipline - Reussite</h6>
      </div>

      <div class="col-md-8 col-12 login_form">
        <div class="container-fluid">
          <div class="row">
            <h2>Connexion</h2>
          </div>
          <div class="row">
            <form [formGroup]="login" (ngSubmit)="onSubmit()">
              <div class="row mb-3">
                <input type="text" formControlName="username"  class="form-control" placeholder="Username">
              </div>
              <div class="row mb-3 position-relative">
                <input [type]="isPasswordVisible ? 'text' : 'password'" formControlName="password" class="form-control" placeholder="Mot de passe" style="padding-right: 40px;">
                <i class="fa" [ngClass]="isPasswordVisible ? 'fa-eye-slash' : 'fa-eye'"
                   (click)="togglePasswordVisibility()"
                   style="position: absolute; left: 160px; top: 50%; transform: translateY(-50%); cursor: pointer;" *ngIf="!isMobile()">
                </i>
              </div>

              <div class="row">
                <input [disabled]="!login.valid"  type="submit" value="Se connecter" class="btn btn-primary w-100">

              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
