<div class="container-fluid">
    <div class="row main-content bg-light text-center justify-content-center">
      <div class="col-md-4 col-12 text-center company__info mb-3">
        <span class="company__logo">
          <h2>
            <img src="../assets/images/logo/logo.jpg" alt="hugenerd" width="220" height="220" class="img-fluid rounded-circle" />
          </h2>
        </span>
        <h6 class="company_title">Travail - Discipline - Reussite</h6>
      </div>
  
      <div class="col-md-8 col-12 login_form">
        <div class="container-fluid">
          <div class="row">
            <h2>Connexion</h2>
          </div>
          <div class="row">
            <form control="" class="form-group">
              <div class="row mb-3">
                <input type="text" name="username" id="username" class="form-control" placeholder="Email">
              </div>
              <div class="row mb-3">
                <input type="password" name="password" id="password" class="form-control" placeholder="Mot de passe">
              </div>
              <div class="row">
                <input (click)="submit()" type="submit" value="Se connecter" class="btn btn-primary w-100">
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  