<div class="container">
  <div class="row">
    <div class="col-md-12 mt-8">
      <div class="card">
        <nav class="navbar navbar-expand-sm navbar-dark bg-secondary">
          <div class="container-fluid">
            <button
              class="navbar-toggler"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#mynavbar"
              (click)="isMenuCollapsed = !isMenuCollapsed"
            >
              <span class="navbar-toggler-icon"></span>
            </button>
            <div
              class="collapse navbar-collapse"
              [ngClass]="{'show': !isMenuCollapsed}"
              id="mynavbar"
            >
              <ul class="navbar-nav me-auto">
                <li class="nav-item">
                  <a
                    *ngIf="isLoggedIn"
                    class="navbar-brand"
                    routerLink="/dashboard"
                    (click)="closeMenu()"
                    >Accueil</a
                  >
                </li>
                <li class="nav-item">
                  <a
                    class="navbar-brand"
                    routerLink="/classes"
                    *ngIf="isLoggedIn"
                    (click)="closeMenu()"
                    >Classes</a
                  >
                </li>
                <li class="nav-item">
                  <a
                    class="navbar-brand"
                    routerLink="/eleves"
                    *ngIf="isLoggedIn"
                    (click)="closeMenu()"
                    >Élèves</a
                  >
                </li>
                <li class="nav-item">
                  <a
                    class="navbar-brand"
                    routerLink="/enseignants"
                    *ngIf="isLoggedIn"
                    (click)="closeMenu()"
                    >Personnels</a
                  >
                </li>
                <li class="nav-item">
                  <a
                    class="navbar-brand"
                    routerLink="/seances"
                    *ngIf="isLoggedIn"
                    (click)="closeMenu()"
                    >Séances</a
                  >
                </li>

                <!-- Menu Finances -->
                <li class="nav-item dropdown">
                  <a
                    class="navbar-brand"
                    href="#"
                    id="navbarScrollingDropdown"
                    *ngIf="isLoggedIn"
                    role="button"
                    data-bs-toggle="dropdown"
                    aria-expanded="false"
                  >
                    Finances
                  </a>
                  <ul class="dropdown-menu">
                    <li>
                      <a
                        class="dropdown-item"
                        routerLink="/paiements"
                        (click)="closeMenu()"
                        >Paiements Élèves</a
                      >
                    </li>
                    <li><hr class="dropdown-divider" /></li>
                    <li>
                      <a
                        class="dropdown-item"
                        routerLink="/remunerations"
                        (click)="closeMenu()"
                        >Rémunérations Personnels</a
                      >
                    </li>
                    <li><hr class="dropdown-divider" /></li>
                    <li>
                      <a
                        class="dropdown-item"
                        routerLink="/depenses"
                        (click)="closeMenu()"
                        >Autres Dépenses</a
                      >
                    </li>
                    <li><hr class="dropdown-divider" /></li>
                    <li>
                      <a
                        class="dropdown-item"
                        routerLink="/entrees"
                        (click)="closeMenu()"
                        >Autres Entrées</a
                      >
                    </li>
                  </ul>
                </li>

                <!-- Menu Admin -->
                <li class="nav-item dropdown" *ngIf="isAdmin">
                  <a
                    class="navbar-brand"
                    href="#"
                    id="navbarScrollingDropdown"
                    role="button"
                    data-bs-toggle="dropdown"
                    aria-expanded="false"
                  >
                    Admin
                  </a>
                  <ul class="dropdown-menu">
                    <li>
                      <a class="dropdown-item" routerLink="/users" (click)="closeMenu()"
                        >Utilisateurs</a
                      >
                    </li>
                    <li><hr class="dropdown-divider" /></li>
                    <li>
                      <a class="dropdown-item" routerLink="/annees" (click)="closeMenu()"
                        >Années Scolaires</a
                      >
                    </li>
                    <li><hr class="dropdown-divider" /></li>
                    <li>
                      <a class="dropdown-item" routerLink="/matieres" (click)="closeMenu()"
                        >Matières</a
                      >
                    </li>
                    <li><hr class="dropdown-divider" /></li>
                    <li>
                      <a class="dropdown-item" routerLink="/cycles" (click)="closeMenu()"
                        >Cycles</a
                      >
                    </li>
                    <li><hr class="dropdown-divider" /></li>
                    <li>
                      <a class="dropdown-item" routerLink="/series" (click)="closeMenu()"
                        >Séries</a
                      >
                    </li>
                    <li><hr class="dropdown-divider" /></li>
                    <li>
                      <a class="dropdown-item" routerLink="/niveaux" (click)="closeMenu()"
                        >Niveaux</a
                      >
                    </li>
                  </ul>
                </li>
              </ul>

              <!-- Authentification et profil -->
              <ul class="navbar-nav">
                <li class="nav-item" *ngIf="!isLoggedIn">
                  <a class="navbar-brand" routerLink="/login" (click)="closeMenu()"
                    >Se connecter</a
                  >
                </li>
                <li class="nav-item dropdown" *ngIf="isLoggedIn">
                  <a
                    class="navbar-brand"
                    href="#"
                    id="navbarScrollingDropdown"
                    role="button"
                    data-bs-toggle="dropdown"
                    aria-expanded="false"
                  >
                    {{ username }} <i class="bi bi-person"></i>
                  </a>
                  <ul class="dropdown-menu">
                    <li>
                      <a
                        class="dropdown-item"
                        [routerLink]="['/profil', username]"
                        (click)="closeMenu()"
                        >Profil</a
                      >
                    </li>
                    <li>
                      <a
                        class="dropdown-item"
                        [routerLink]="['/password', username]"
                        (click)="closeMenu()"
                        >Mot de passe</a
                      >
                    </li>
                    <li>
                      <a
                        class="dropdown-item"
                        style="cursor: pointer"
                        (click)="logout(); closeMenu()"
                        >Se déconnecter</a
                      >
                    </li>
                  </ul>
                </li>
              </ul>
            </div>
          </div>
        </nav>
      </div>
    </div>
  </div>
</div>
