<div class="container">
  <div class="row">
    <div class="col-md-12 mt-8">
      <div class="card">
        <nav class="navbar navbar-expand-sm navbar-dark bg-secondary">
          <div class="container-fluid">
            <button
              class="navbar-toggler"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#mynavbar"
            >
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="mynavbar">
              <ul class="navbar-nav me-auto">
                <li class="nav-item">
                  <a
                    *ngIf="isLoggedIn"
                    class="navbar-brand"
                    routerLink="/dashboard"
                    >Accueil</a
                  >
                </li>
                <li class="nav-item">
                  <a
                    class="navbar-brand"
                    routerLink="/classes"
                    *ngIf="isLoggedIn"
                    >Classes</a
                  >
                </li>
                <li class="nav-item">
                  <a
                    class="navbar-brand"
                    routerLink="/eleves"
                    *ngIf="isLoggedIn"
                    >Eleves</a
                  >
                </li>
                <li class="nav-item">
                  <a
                    class="navbar-brand"
                    routerLink="/enseignants"
                    *ngIf="isLoggedIn"
                    >Personnels</a
                  >
                </li>
                <li class="nav-item">
                  <a
                    class="navbar-brand"
                    routerLink="/seances"
                    *ngIf="isLoggedIn"
                    >Seances</a
                  >
                </li>

                <li class="nav-item dropdown">
                  <a
                    class="navbar-brand"
                    href="#"
                    id="navbarScrollingDropdown"
                    *ngIf="isLoggedIn"
                    role="button"
                    data-bs-toggle="dropdown"
                    aria-expanded="false"
                  >
                    Finances
                  </a>
                  <ul
                    class="dropdown-menu"
                    aria-labelledby="navbarScrollingDropdown"
                  >
                    <li>
                      <a class="dropdown-item" routerLink="/paiements"
                        >Paiements Eleves</a
                      >
                    </li>
                    <li>
                      <hr class="dropdown-divider" />
                    </li>
                    <li>
                      <a class="dropdown-item" routerLink="/remunerations"
                        >Rémunerations Personnels</a
                      >
                    </li>
                    <li>
                      <hr class="dropdown-divider" />
                    </li>
                    <li>
                      <a class="dropdown-item" routerLink="/depenses"
                        >Autres Depenses</a
                      >
                    </li>
                    <li>
                      <hr class="dropdown-divider" />
                    </li>
                    <li>
                      <a class="dropdown-item" routerLink="/entrees"
                        >Autres Entrées</a
                      >
                    </li>
                  </ul>
                </li>

                <li class="nav-item dropdown" *ngIf="isAdmin">
                  <a
                    class="navbar-brand"
                    href="#"
                    id="navbarScrollingDropdown"
                    *ngIf="isLoggedIn"
                    role="button"
                    data-bs-toggle="dropdown"
                    aria-expanded="false"
                  >
                    Admin
                  </a>
                  <ul
                    class="dropdown-menu"
                    aria-labelledby="navbarScrollingDropdown"
                  >
                    <li>
                      <a class="dropdown-item" routerLink="/users"
                        >Utilisateurs</a
                      >
                    </li>
                    <li>
                      <hr class="dropdown-divider" />
                    </li>
                    <li>
                      <a class="dropdown-item" routerLink="/annees"
                        >Années Scolaires</a
                      >
                    </li>
                    <li></li>
                    <li>
                      <hr class="dropdown-divider" />
                    </li>
                    <li>
                      <a class="dropdown-item" routerLink="/matieres"
                        >Matieres</a
                      >
                    </li>
                    <li></li>
                    <li>
                      <hr class="dropdown-divider" />
                    </li>
                    <li>
                      <a class="dropdown-item" routerLink="/cycles">Cycles</a>
                    </li>
                    <li></li>
                    <li>
                      <hr class="dropdown-divider" />
                    </li>
                    <li>
                      <a class="dropdown-item" routerLink="/series">Series</a>
                    </li>
                    <li></li>
                    <li>
                      <hr class="dropdown-divider" />
                    </li>
                    <li>
                      <a class="dropdown-item" routerLink="/niveaux">Niveaux</a>
                    </li>
                    <li></li>
                  </ul>
                </li>
              </ul>
              <form class="d-flex">
                <ul class="navbar-nav">
                  <li class="nav-item" *ngIf="!isLoggedIn">
                    <a class="navbar-brand" routerLink="/login">Se connecter</a>
                  </li>
                  <li class="button">
                    <a class="navbar-brand"></a>
                  </li>
                  <li class="nav-item dropdown" *ngIf="isLoggedIn">
                    <a
                      class="navbar-brand"
                      href="#"
                      id="navbarScrollingDropdown"
                      role="button"
                      data-bs-toggle="dropdown"
                      aria-expanded="false"
                    >
                      {{ username }}
                      <i *ngIf="isLoggedIn" class="bi bi-person"></i>
                    </a>
                    <ul
                      class="dropdown-menu"
                      aria-labelledby="navbarScrollingDropdown"
                    >
                      <li>
                        <a
                          class="dropdown-item"
                          *ngIf="!isLoggedIn"
                          routerLink="/addUser"
                          >S'inscrire</a
                        >
                      </li>
                      <li></li>
                      <li>
                        <a
                          class="dropdown-item"
                          *ngIf="!isLoggedIn"
                          routerLink="/login"
                          >Se connecter</a
                        >
                      </li>

                      <li>
                        <a
                          class="dropdown-item"
                          *ngIf="isLoggedIn"
                          [routerLink]="['/profil', username]"
                          >Profil</a
                        >
                      </li>
                      <li>
                        <a
                          class="dropdown-item"
                          *ngIf="isLoggedIn"
                          [routerLink]="['/password', username]"
                          >Mot de passe</a
                        >
                      </li>
                      <li>
                        <a
                          class="dropdown-item"
                          style="cursor: pointer"
                          *ngIf="isLoggedIn"
                          (click)="logout()"
                          >Se deconnecter</a
                        >
                      </li>
                    </ul>
                  </li>
                </ul>
              </form>
              <br />

              <!-- <form class="d-flex"><ul class="navbar-nav"
                              *ngIf="authService.username==''">
                              <li class="button">
                                  <a class="navbar-brand"></a>
                              </li>
                              <li class="nav-item dropdown">
                                  <a class="navbar-brand" href="#" id="navbarScrollingDropdown" role="button"
                                      data-bs-toggle="dropdown" aria-expanded="false">
                                      {{user}}
                                      <i class="bi bi-person"></i>
                                  </a>
                                  <ul class="dropdown-menu" aria-labelledby="navbarScrollingDropdown">
                                      <li *ngIf="authService.isloggedIn==false">
                                          <a class="dropdown-item" routerLink="/addMilitant">S'inscrire</a></li>
                                      <li>

                                      </li>
                                      <li *ngIf="authService.isloggedIn==false">
                                          <a class="dropdown-item" routerLink="/connect">Se connecter</a>
                                      </li>


                                      <li *ngIf="authService.isloggedIn">
                                          <a class="dropdown-item" routerLink="/profil">Profil</a>
                                      </li>
                                      <li *ngIf="authService.isloggedIn">
                                          <a class="dropdown-item" routerLink="/password">Mot de passe</a>
                                      </li>
                                      <li *ngIf="authService.isloggedIn">
                                          <a class="dropdown-item" style="cursor: pointer;"
                                          (click)="onDeconnecter()">Se deconnecter</a>
                                      </li>
                                  </ul>
                              </li></ul>
                            </form> -->
            </div>
          </div>
        </nav>
      </div>
    </div>
  </div>
</div>
